* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Start Header */
  .section1 .carousel {
    position: relative;
  }
  .carousel-inner h1{
    font-weight: bold;
  }
  
  .section1 .carousel .navbar {
    position: absolute;
    background-color: rgba(23, 22, 22, 0.104);
    margin-top: 4%;
    width: 100%;
  }
  
  .navbar .navbar-toggler {
    margin-left: auto;
    z-index: 3;
  }
  
  .navbar .navbar-brand {
    position: absolute;
    padding: 0;
    margin-right: 0;
  }
  
  .navbar ul {
    margin: auto;
  }
  
  .navbar ul li a {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
  }
  .navbar ul li a:hover,
  .navbar-nav .active {
    background-color: #f7600e;
    color: #fff;
    border-radius: 10px;
  }
      
@media (max-width: 987px) {
  .section1 .carousel .navbar {
    background-color: rgb(28 28 28 / 96%);
  }
  .section1 .carousel .navbar ul li {
    margin-top: 5px;
  }
}
  .carousel .carousel-inner .carousel-item .carousel-caption h1 .read {
    display: inline;
    color: #f7600e;
  }
  
  .carousel .carousel-indicators button {
    background-color: white;
    color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 100%;
  }
  
  .carousel .carousel-indicators button.active {
    background-color: #f7600e;
  }
  
  .read_our {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #f7600e;
  }
  
  .read_our .read {
    display: inline;
    color: black;
  }
  
  .divider-1 {
    width: 65px;
    height: 4px;
    background-color: #f7600e;
  }
  
  .divider-2 {
    width: 140px;
    height: 4px;
    background-color: #000000;
  }
  
  .row .col-2 {
    text-align: center;
  }
  
  .carousel-indicators {
    margin: 0;
  }
    /* End Header */
    .PROJECT{
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .PROJECT p{
      color: #636363;
      font-size: 20px;
      padding:8% 6% 0 3%;

    }
    .line .h2{
      font-weight: bold
    }
    /* Start sec2 */
    .sec-2 {
        background-image: url("../imges/Group 85.png");
        background-size: cover;
        background-position: center;
        padding-bottom: 15%;
      }
      .sec-2 h6 {
        padding:15% 0 8% 0 ;
        color: aliceblue;
        justify-content:start;
        text-align: start;
        
      }
      .sec-2 dl dt{
        justify-content:start;
        text-align: start;
        color: aliceblue;
        padding-bottom: 1% ;
        
      }
      .sec-2 dl dt i{
        margin-right: 2%;
        font-size:15px;
        color:#FFFFFF;
      }
      .sec-2 dl dd{
        justify-content:start;
        text-align: start;
        color: #f0f8ffb0; 
        padding: 0 10% 3% 5%;
        }
      .section1 .carousel .navbar .navbar-toggler {
        color: aliceblue;
      }
  


/* Start Title */
.line h1 {
    color: #f76e24;
  }
  .line span {
    color: #000000;
  }
  .contant a {
    text-decoration: none;
    color: #ffffff;
    background-color: #f7600e;
    border-radius: 10px;
  
    padding: 15px 30px;
  }
  .H-travle {
    width: 100%;
  }
  .line {
    position: relative;
    padding-bottom: 10px;
  }
  .About .line::after {
    width: 140%;
  }
  .line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #f7600e 20%, #000 10%);
    
  }
  .line2 {
    padding-top: 50px;
    position: relative;
    padding-bottom: 10px;
  }
  .About .line2::after {
    width: 140%;
  }
  .line2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #ffffff 15%, #ffffff 5%);
    
  }
  .line2 .h2 span{
    color: #ffffff;
  }
 



  

  .IMPACT .row .card .card-body img{
padding-right: 15px;
  }

  .IMPACT .card1{
    height: 280px;
  }
  .sec-4 {
    background-image: url("../imges/backgroungIMPLE.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 15%;
  }
  .sec-4 .text{
    justify-content: center;
    
  }
.leg .text .col-sm-12{
 display: flex;
    justify-content: center;
}
.leg .text{
  padding-top:3%
}
  .leg .text .card{
  
    margin-bottom: 5%;
    margin-lift: 6%;
  }

  .con {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  
  body {
    font-weight: 500;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    width: 100%;
  }
  
  /*  Small Screen */
  @media (min-width: 768px) {
    .con {
      width: 750px;
    }
  }
  
  /*  Meduim Screen */
  @media (min-width: 992px) {
    .con {
      width: 970px;
    }
  }
  
  /*  Large Screen */
  @media (min-width: 1200px) {
    .con {
      width: 1170px;
    }
  }
  
  /*  Large Screen */
  @media (min-width: 1400px) {
    .con {
      width: 1370px;
    }
  }
  
  @media (min-width: 1700px) {
    .con {
      width: 1600px;
    }
  }
  
  @media (min-width: 2000px) {
    .con {
      width: 1900px;
    }
  }
  
  @media (min-width: 2200px) {
    .con {
      width: 2170px;
    }
  }
  
  @media (min-width: 2400px) {
    .con {
      width: 2370px;
    }
  }
  
.sec-6 {
  background-image: url("../images/sec-6-bg.png");
}

.section-6 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-6 .co-1 .co-1-text {
  margin-bottom: 50px;
}

.section-6 .co-1 .co-1-text .co-1-text-1 {
  font-size: 18px;
  color: #ef6033;
}

.section-6 .co-1 .co-1-text .co-1-text-2 {
  font-size: 18px;
  color: #f5f5f5;
}

.section-6 .co-1-links a i {
  color: #ffff;
  padding-right: 20px;
}

.section-6 .co-1-links a i:hover {
  color:#F7600E;
}

.section-6 p {
  font-size: 18px;
  color: #ffff;
}

.section-6 .co-2 .links ul {
  list-style: none;
  padding: 0;
  padding-bottom: 20px;
}

.section-6 .co-2 ul li {
  padding-top: 15px;
}

.section-6 .co-2 ul li a {
  text-decoration: none;
  color: #ffff;
  font-size: 15px;
}

.section-6 .co-2 ul li::before {
  font: var(--fa-font-solid);
  content: "\f105";
  color: #929292;
  font-size: 15px;
  padding-right: 10px;
}

.section-6 .co-2 ul li:hover {
  color: #F7600E;
}

.section-6 ul li a:hover {
  color: #F7600E;
}

.section-6 .co-3 ul {
  list-style: none;
  padding-left: 0;
}

.section-6 .co-3 img {
  width: 60px;
}

.section-6 .co-3 .co-3-date {
  font-size: 12px;
  color: #8b929b;
}

.section-6 .co-3 .co-3-title {
  font-size: 12px;
  color: #ffffff;
}

.sec-6-divider {
  background-color: rgb(175, 172, 172);
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-6 .co-4 .co-4-text {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 30px;
}

.section-6 .co-4 ul {
  padding-left: 0;
}

.section-6 .co-4 ul li {
  font-stretch: expanded;
  font-size: 12px;
  color: #ffff;
  list-style: none;
  margin-bottom: 15px;
  padding-left: 0;
}

.section-6 .co-4 ul .li-1::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  color: #b56306;
  font-size: 15px;
  padding-right: 10px;
}

.section-6 .co-4 ul .li-2::before {
  font: var(--fa-font-solid);
  content: "\f095";
  color: #b56306;
  font-size: 15px;
  padding-right: 10px;
}

.section-6 .co-4 ul .li-3::before {
  font: var(--fa-font-solid);
  content: "\f0e0";
  color: #b56306;
  font-size: 15px;
  padding-right: 10px;
}

.section-6 .co-4 ul .li-4::before {
  font: var(--fa-font-solid);
  content: "\f017";
  color: #b56306;
  font-size: 15px;
  padding-right: 10px;
}

.section-7 {
  position: relative;
  display: flex;
  background-color: #000000;
}

.section-7 p {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}
