* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Start Header */
  .section1 .carousel {
    position: relative;
  }
  
  .section1 .carousel .navbar {
    position: absolute;
    background-color: rgba(23, 22, 22, 0.104);
    margin-top: 4%;
    width: 100%;
  }
  
  .navbar .navbar-toggler {
    margin-left: auto;
    z-index: 3;
  }
  
  .navbar .navbar-brand {
    position: absolute;
    padding: 0;
    margin-right: 0;
  }
  
  .navbar ul {
    margin: auto;
  }
  
  .navbar ul li a {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
  }
  .navbar ul li a:hover,
  .navbar-nav .active {
    background-color: #f7600e;
    color: #fff;
    border-radius: 10px;
  }
  
  .carousel .carousel-inner .carousel-item .carousel-caption h1 .read {
    display: inline;
    color: #f7600e;
  }
  
  .carousel .carousel-indicators button {
    background-color: white;
    color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 100%;
  }
  
  .carousel .carousel-indicators button.active {
    background-color: #f7600e;
  }
  
  .read_our {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #f7600e;
  }
  
  .read_our .read {
    display: inline;
    color: black;
  }
  
  .divider-1 {
    width: 65px;
    height: 4px;
    background-color: #f7600e;
  }
  
  .divider-2 {
    width: 140px;
    height: 4px;
    background-color: #000000;
  }
  
  .row .col-2 {
    text-align: center;
  }
  
  .carousel-indicators {
    margin: 0;
  }
    /* End Header */
    .PROJECT{
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .PROJECT p{
      color: #636363;
      font-size: 24px;
      padding:8% 6% 0 3%;

    }
    /* Start sec2 */
    .sec-2 {
        background-image: url("../imges/Group 85.png");
        background-size: cover;
        background-position: center;
        padding-bottom: 15%;
      }
      .sec-2 h6 {
        padding:15% 0 8% 0 ;
        color: aliceblue;
        justify-content:start;
        text-align: start;
      }
      .sec-2 dl dt{
        justify-content:start;
        text-align: start;
        color: aliceblue;
        padding-bottom: 1% ;
        
      }
      .sec-2 dl dt i{
        margin-right: 2%;
        font-size:15px;
        color:#FFFFFF;
      }
      .sec-2 dl dd{
        justify-content:start;
        text-align: start;
        color: #f0f8ffb0; 
        padding: 0 10% 3% 5%;
        }
      .section1 .carousel .navbar .navbar-toggler {
        color: aliceblue;
      }


/* Start Title */
.line h1 {
    color: #f76e24;
  }
  .line span {
    color: #000000;
  }
  .contant a {
    text-decoration: none;
    color: #ffffff;
    background-color: #f7600e;
    border-radius: 10px;
  
    padding: 15px 30px;
  }
  .H-travle {
    width: 100%;
  }
  .line {
    position: relative;
    padding-bottom: 10px;
  }
  .About .line::after {
    width: 140%;
  }
  .line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #f7600e 20%, #000 10%);
    
  }
  .line2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #ffffff );
    
  } 



  

  .IMPACT .row .card .card-body img{
/* margin-right: 2%; */
padding-right: 15px;
  }


  .sec-4 {
    background-image: url("../imges/backgroungIMPLE.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 15%;
  }
  .sec-4 .text{
    justify-content: space-evenly;
  }